<section id="about-section" class="about-section about-screen">
    <div class="parallax-hero about-screen parallax-overlay  home-bg" data-top="transform: translate3d(0px, 0px, 0px)" data-top-bottom="transform: translate3d(0px, -200px, 0px)" data-anchor-target="#about-section">
    </div>
    <div class="about-content col-xs-12">
        <div class="hs-content-inner">
            <h1 class="cd-headline letters rotate-2 hs-text-2 ">
              <span class="cd-words-wrapper">
                  <b class="is-visible">Who&nbsp;We&nbsp;Are</b>
              </span>
            </h1>

            <h2 class="hs-text-6" style='line-height:1.9;margin-bottom:0px;'>
              Hikido is the best way to reach top engineers and developers
            </h2>
            <h2 class="hs-text-6" style='line-height:1.9;margin-bottom:10px;'>
              for forward-thinking businesses around the world.
            </h2>
        </div>
    </div>
</section>