<% cache 'homepage_about' do %>
  <section id="contact">
    <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <p>
                We started Hikido with a simple goal to use technology to make life meaningfully easier for recruiting and staffing teams. Our mission is to bring innovation, ease, and empowerment to every recruiting and staffing professional. Hikido is committed to helping our customers build deeper connections and spurring positive relationships.
              </p>
              <p style='margin-top:15px;'>
                Since our founding in 2015 we're thrilled at the progress we've made. Our customers include many of the most successful technology and media companies, and fastest growing startups. We thrive on helping our customers achieve ambitious growth targets. 
              </p>
              <p style='margin-top:15px;'>
                We are excited to continue helping recruiters and staffing teams focus on what matters most: finding the perfect candidates with the right skills.
              </p>
          </div>
      </div>
    </div>
  </section>
<% end %>